<%- include ('header') %>
<form action="/" method="post" class="'ui form">
  <div class="ui form">
    <div class="field">
      <label for="message">Message</label>
      <textarea name="message" id="message"></textarea>
    </div>
  </div>
  <button type="submit" class="ui animated button primary" tabindex="0">
    <div class="visible content">Envoyer</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </button>
</form>
<%- include('footer') %>