extends index
include header 

block content
    div.ui.main.container
        form.ui.form(action='/' method='POST')
        .field 
        label(for="message") Message
        textarea#message(name="message")

        button.blue.button.ui.icon.labeled(type="submit")
            i.icon.edit Envoyer
    
include footer 